.article {
  display: block;
  // margin: 0 auto;
  // max-width: 1000px;
  // width: 100%;
}
.article__title {
  @include h3;
  margin-top: 0;
}
.article__date {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  img {
    margin-right: 15px;
  }
}
.article__photo {
  width: 100%;
  max-height: 501px;
  margin-bottom: 30px;
  object-fit: cover;
  border-radius: 20px;
}
.article__container {
  padding-bottom: 45px;
  border-bottom: 2px solid $gray-1;
}
.article__more {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  b {
    @include h4;
    font-size: 22px;
  }
}
.article__socials {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 20px;
  }
}
.article__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $purple;
  transition: ease 0.25s;

  img {
    width: 20px;
    height: 20px;
  }
  &--tiktok img {
    margin-right: -3px;
  }
  &:hover {
    opacity: 0.5;
  }
}
