.article {
  display: block;
}
.article__title {
  @include h3;
  line-height: 150% !important;
  margin-top: 0;
}
.article__date {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  img {
    margin-right: 15px;
  }
  span {
    @include text;
    color: #9b9b9b;
  }
}
.article__photo {
  width: 100%;
  max-height: 501px;
  margin-bottom: 30px;
  object-fit: cover;
  object-position: 0 10%;
  border-radius: 20px;
}
.article__container {
  padding-bottom: 45px;
  border-bottom: 2px solid $gray-1;
}
.article__text {
  @include text;

  p:not(:last-child) {
    margin-bottom: 15px;
  }
}
.article__more {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  b {
    @include h4;
    font-size: 22px;
  }
}
.article__socials {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 20px;
  }
}
.article__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $purple;
  transition: ease 0.25s;

  img {
    width: 20px;
    height: 20px;
  }
  &--tiktok img {
    margin-right: -3px;
  }
  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 500px) {
  .article__more {
    display: block;
    padding: 15px 0;

    b {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}
