.bage {
  padding: 5px 10px;
  width: fit-content;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  white-space: nowrap;
  color: #fff !important;
  border-radius: 20px;
  background-color: $green;
}
