.graduates__parallax {
  overflow: visible !important;
}
.graduates__bg {
  width: auto !important;
  height: auto !important;
  z-index: -10;
}
.graduates__bg-1 {
  top: -30% !important;
  left: 35% !important;
}
.graduates__bg-2 {
  top: 5% !important;
  left: 70% !important;
}
.graduates__bg-3 {
  top: 90% !important;
  left: 20% !important;
}
.graduates__title {
  span {
    color: $purple;
  }
}
.graduates__container {
  position: relative;
  display: flex;

  & > div:first-child {
    margin-right: 50px;
  }
  & > div:last-child {
    position: relative;
    flex: 1 0 auto;
    width: 40%;
  }
}

@media (max-width: 1440px) {
  .graduates__container {
    & > div {
      width: 50%;
    }
    & > div:first-child {
      margin-right: 30px;
    }
  }
}
@media (max-width: 1200px) {
  .graduates__bg-1 {
    top: -15% !important;
  }
  .graduates__bg-3 {
    top: 60% !important;
    left: 45% !important;
  }
}
@media (max-width: 1024px) {
  .graduates__container {
    display: block;

    & > div {
      width: 100% !important;
    }
    & > div:first-child {
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }
  .graduates__bg-1 {
    display: none;
  }
}

.visually-impared {
  .graduates__container {
    display: block;

    & > div {
      width: 100% !important;
    }
    & > div:first-child {
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }
}
