.news-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.news-page__wrapper {
  padding-top: 160px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.news-page__title {
  margin: 0;
}
.news-page__back {
  display: flex;
  align-items: center;
  margin: 25px 0;
  font-size: 20px;
  color: #9b9b9b;
  transition: ease 0.25s;

  img {
    margin-right: 15px;
  }
  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1440px) {
  .news-page__back {
    margin: 1.5em 0;
    @include text;

    img {
      margin-right: 1em;
      width: 1.5em;
    }
  }
}
@media (max-width: 1280px) {
  .news-page__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
