.parting-words__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 100%;
    object-fit: cover;
  }
  blockquote {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
  }
}
.parting-words__title {
  span {
    color: $purple;
  }
}
.parting-words__name {
  @include h3;

  & + small {
    display: block;
    // margin-bottom: 25px;
    @include text;
  }
}

@media (max-width: 1440px) {
  .parting-words__container img {
    height: 50%;
  }
}
@media (max-width: 1024px) {
  .parting-words__container {
    grid-template-columns: 1fr;

    img {
      grid-row: 2 / 3;
      width: 100%;
      height: auto;
    }
  }
}

.visually-impared {
  .parting-words__container {
    grid-template-columns: 1fr;
  }
}
