.uniqueness__big-image {
  position: relative;
  width: 100%;
}
.uniqueness__title {
  margin-bottom: 0;
  text-align: center;

  span {
    color: $purple;
  }
}
.uniqueness__container {
  display: flex;

  & > div:first-of-type {
    margin-right: 50px;
  }
  & > div {
    width: 50%;
  }
}
.uniqueness__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}
.uniqueness__text {
  b {
    font-weight: bold;
  }
}

@media (max-width: 1440px) {
  .uniqueness__container {
    & > div:first-of-type {
      margin-right: 30px;
    }
  }
}
@media (max-width: 1366px) {
  .uniqueness__column {
    padding: 0;
  }
  .uniqueness__container {
    & > div:first-of-type {
      margin-right: 20px;
    }
  }
}
@media (max-width: 768px) {
  .uniqueness__container {
    flex-direction: column;

    & > div:first-of-type {
      margin-right: 0px;
    }
    & > div {
      width: 100%;
    }
  }
  .uniqueness__column {
    margin-bottom: 50px;
  }
}

.visually-impared {
  .uniqueness__container {
    display: block;

    & > div {
      width: 100%;
    }
  }
  .uniqueness__column {
    padding: 0;
  }
}
