@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.news .title {
  margin-bottom: 0;
}
.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.news__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.news__preview {
  position: relative;
  height: 100%;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: 3;

    .news__title {
      @include h3;
      color: #fff;
    }
    .news__text p,
    .news__text span {
      color: #fff;
    }
    .news__bottom {
      position: absolute;
      justify-content: flex-end;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80%;
      padding: 30px;
      background-image: linear-gradient(to top, $purple 5%, transparent);
      border-radius: 0 0 10px 10px;
    }
    .news__image {
      margin: 0;
      max-height: none;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    transition: ease 0.2s;
  }
  a:hover img {
    transform: scale(1.2);
  }
  a {
    height: fit-content;
  }
}
.news__image {
  margin-bottom: 30px;
  max-height: 225px;
  border-radius: 10px;
  overflow: hidden;
}
.news__title {
  @include h4;
  font-size: 22px;
}
.news__text p {
  @include text;
}
.news__bottom {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (max-width: 1600px) {
  .news__container {
    grid-column-gap: 20px;
  }
}
@media (max-width: 1440px) {
  .news__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .news__preview {
    &:first-child {
      grid-column: 1 / 2;
    }
  }
}
@media (max-width: 1366px) {
  .news__preview {
    &:first-child {
      .news__title {
        color: #000;
      }
      .news__text p {
        color: #000;
      }
      .news__bottom {
        position: relative;
        justify-content: flex-start;
        height: auto;
        padding: 0;
        background: transparent;
        border-radius: 0 0 10px 10px;
      }
      .news__image {
        margin-bottom: 30px;
        max-height: 225px;
      }
      .news__title {
        @include h4;
      }
    }
  }
}
@media (max-width: 1024px) {
  .news__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .news__preview:first-child {
    grid-column: 1 / 3;

    .news__title {
      font-size: 22px;
      color: #fff;
    }
    .news__text p {
      color: #fff;
    }
    .news__bottom {
      position: absolute;
      justify-content: flex-end;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80%;
      padding: 30px;
      background-image: linear-gradient(to top, $purple 5%, transparent);
      border-radius: 0 0 10px 10px;
    }
    .news__image {
      margin: 0;
      max-height: 400px;
    }
  }
}
@media (max-width: 768px) {
  .news .button {
    padding: 12px 18px;
  }
  .news__top {
    display: block;
    margin-bottom: 25px;

    .title {
      margin-bottom: 25px;
    }
  }
}
@media (max-width: 600px) {
  .news__container {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .news__preview:first-child {
    grid-column: 1 / 2;

    .news__title {
      font-size: 18px;
    }
  }
  .news__image {
    max-height: 400px;
    margin-bottom: 12px;
  }
  .news__title:nth-child(n) {
    margin-bottom: 6px;
  }
  .news__preview .bage {
    margin-bottom: 6px;
  }
}
@media (max-width: 500px) {
  .news__preview:first-child {
    .news__bottom {
      padding: 14px 10px;
    }
  }
}

.visually-impared {
  .news__image img {
    display: block !important;
  }
  // .news__title,
  // .news__text {
  //   font-size: ;
  //   line-height: 120% !important;
  // }
}
