@import '../../assets/scss/variables.scss';

.steps__container {
  display: flex;
}
.steps__title {
  margin-right: 3em;

  span {
    color: $purple;
    white-space: nowrap;
  }
}
.steps__list {
  padding: 50px;
  padding-left: 100px;
  border-radius: 24px;
  background-color: $blue;
}
.step__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  z-index: -1;
}
.step__parallax {
  overflow: visible !important;
}
.step__bg-1 {
  top: 10% !important;
  left: 10% !important;
  width: auto !important;
}
.step__bg-2 {
  top: 80% !important;
  left: 25% !important;
  width: auto !important;
  z-index: 2 !important;
}

@media (max-width: 1440px) {
  .steps__list {
    padding-left: 80px;
  }
}
@media (max-width: 1200px) {
  .steps__container {
    flex-direction: column;
  }
  .steps__title {
    br:first-child {
      display: none;
    }
  }
}
@media (max-width: 800px) {
  .step__picture {
    width: 100%;
  }
  .step__bg-1 {
    width: 20% !important;
  }
}
@media (max-width: 768px) {
  .steps__list {
    padding: 30px;
    padding-left: 60px;
  }
}
@media (max-width: 600px) {
  .steps__list {
    padding: 20px;
    padding-left: 45px;
  }
}
@media (max-width: 500px) {
  .steps__title {
    br:first-child {
      display: block;
    }
  }
  .steps__list {
    padding-left: 35px;
  }
}
