.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-of-type {
    max-width: 550px;
  }
}
.promo__title {
  display: block;
  margin-bottom: 64px;
  text-transform: uppercase;
  text-shadow: 0 2px 4px #999;

  & {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 125%;
    color: $purple;
  }
}
h1.promo__title {
  margin-bottom: 0;
}
span.promo__title {
  white-space: nowrap;
  text-transform: lowercase;
}
.promo__text {
  @include big-text;
  margin-bottom: 40px;
}
.promo__buttons {
  display: flex;
  justify-content: space-between;
}
.promo__parallax {
  display: flex;
  align-items: center;
  // width: 60%;
  height: 700px;
  flex-shrink: 0;
}
.promo__bg {
  top: 10% !important;
  width: 70% !important;
  height: 50% !important;
}
