// ==== Глобальные стили ====
body {
  height: 100%;
  overflow-x: hidden;

  * {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    color: #000;
  }
}
html {
  min-height: 100vh;
  height: 100%;
  font-size: 18px;
  scroll-behavior: smooth;
}
#root {
  height: 100%;
}
#portal {
  position: relative;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  position: relative;
  z-index: 1;
}
section,
footer {
  position: relative;
}
header,
footer {
  flex: 0 0 auto;
}
footer {
  margin-top: auto;
}
main {
  flex: 1 0 auto;
  // overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
p,
figure {
  margin: 0;
}
fieldset {
  border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

// ==== Общие классы ====
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title {
  margin: 0;
  margin-bottom: 64px;

  &,
  & * {
    @include h2;
  }
}
.subtitle {
  @include h3;
  color: #3b3b3b;
}
.text {
  @include text;
}
.big-text {
  @include big-text;
}
.wrapper {
  padding: 90px 108px;
  height: 100%;
}

@media (max-width: 1600px) {
  .wrapper {
    padding: 90px 90px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
  .title {
    margin-bottom: 48px;
  }
  .wrapper {
    padding: 80px 70px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .title {
    margin-bottom: 40px;
  }
  .wrapper {
    padding: 70px 60px;
  }
}
@media (max-width: 900px) {
  .wrapper {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .title {
    margin-bottom: 30px;
  }
  .wrapper {
    padding: 40px 40px;
  }
}
@media (max-width: 500px) {
  .title {
    margin-bottom: 25px;
  }
  .wrapper {
    padding: 40px 20px;
  }
}
