@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.institute {
  position: relative;
  transition: linear 0.5s;
  z-index: 10;

  .institute__name,
  .institute__count {
    margin-bottom: 20px;
  }
  &.active {
    z-index: 100;
  }
}
.institute__container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: $gray-3;
  width: 100%;
  height: 100%;
  transition: linear 0.25s;
  overflow: hidden;

  &.entering,
  &.entered,
  &.exiting {
    box-shadow: 0px 4px 35px rgba(90, 76, 176, 0.16);
    z-index: 1;
  }
  &.entered {
    .institute__areas.active {
      overflow-y: auto;
    }
  }
}
.institute__name {
  display: block;
  margin-top: 0;
  @include h4;
}
.institute__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 7px;
  width: fit-content;
  border-radius: 10px;
  background: linear-gradient(
      266.18deg,
      #5834c1 1.9%,
      #bb488a 45.85%,
      #ea8054 73.61%,
      #f8e862 98.04%
    ),
    #c4c4c4;
  transition: ease 0.25s;

  &:hover {
    filter: brightness(1.15);
  }
  img {
    margin: auto;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}
.institute__count {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 15px;
  margin-bottom: auto;

  li span {
    display: block;
    color: $purple;
  }
  li span:first-of-type {
    @include h3;
  }
  li span:last-of-type {
    @include text;
  }
}
.institute__areas {
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 30px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: linear 0.5s;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $yellow;
  }
  li:not(:last-of-type) {
    margin-bottom: 0.5em;
  }
  &.active {
    opacity: 1;
    max-height: 400px;
    z-index: 10;

    .button {
      pointer-events: visible;
    }
  }
  .button {
    display: block;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
    white-space: normal;
    font-weight: normal;
    color: #000;
    pointer-events: none;
  }
}
.institute__button {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  color: $yellow;
  text-align: left;
  font-size: 18px;
  transition: ease 0.25s;
  cursor: pointer !important;
  z-index: 10;

  &::after {
    position: relative;
    content: '';
    margin-left: 15px;
    background-image: url('../../assets/img/arrow-yellow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    transition: linear 0.25s;
    transform-origin: center;
  }
  &.active {
    &::after {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 500px) {
  .institute__name {
    text-align: center;
  }
  .institute__count {
    text-align: center;
  }
  .institute__social {
    margin-bottom: 20px;
  }
  .institute__button {
    width: fit-content;
    font-size: 14px;

    &::after {
      width: 14px;
      height: 14px;
    }
  }
}

.visually-impared {
  .institute__container {
    background-color: #fff;
  }
  .institute__name {
    line-height: 120% !important;
  }
  .institute__count {
    display: block;

    li:not(:last-child) {
      margin-bottom: 5%;
    }
    span {
      line-height: 150% !important;
    }
  }
  .institute__social img {
    display: block;
  }
  .institute__button {
    line-height: 120% !important;
  }
}
