@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.program__title {
  text-align: center;

  span {
    display: block;
    color: $purple;
  }
}
.program__container {
  display: flex;
  width: 100%;

  & > div {
    height: fit-content;
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    background: $blue;
  }
  .subtitle {
    margin: 0;
    padding: 0;
  }
}
.program__filter {
  width: 35%;
  flex-shrink: 0;
  margin-right: 50px;
  padding-bottom: 0;

  ul {
    overflow: hidden;
    transition: ease 0.5s;
    opacity: 0;
    max-height: 0;
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    transition: ease 0.5s;

    &::after {
      position: relative;
      content: '';
      background-image: url('../../assets/img/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 20px;
      transition: ease 0.5s;
      transform-origin: center;
    }
  }
  .subtitle.active {
    margin-bottom: 1em;

    &::after {
      transform: rotate(180deg);
    }
  }
  .subtitle.active + ul {
    overflow-y: auto;
    opacity: 1;
    max-height: 400px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
    }
  }
  li {
    button {
      padding: 15px 20px;
      width: 90%;
      border-radius: 10px;
      text-align: left;
      font-size: 18px;
      transition: ease 0.25s;
      cursor: pointer !important;
    }
    button:hover {
      background-color: $gray-2;
    }
    button.active {
      background-color: $purple;
      color: #fff;
    }
  }
  & > div {
    padding: 30px;
  }
  & > div:first-of-type {
    border-bottom: 1px solid #e0e0e0;
  }
}
.program__description {
  padding: 40px;
}
.program__photo {
  width: 100%;
  object-fit: cover;
}
.program__text {
  margin: 50px 0;
  line-height: 200%;
}
.program__features {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  grid-row-gap: 2em;
  justify-content: space-between;
  margin: 50px 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 35px;
      margin-bottom: 1em;
    }
    span {
      @include big-text;
      color: $purple;
      font-weight: bold;
      text-align: center;
    }
  }
}

@media (max-width: 1440px) {
  .program__description,
  .program__filter > div {
    padding: 35px;
  }
  .program__text {
    margin: 35px 0;
  }
  .program__filter {
    margin-right: 35px;
  }
}
@media (max-width: 1366px) {
  .program__filter li button {
    padding: 15px 30px;
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .program__features {
    grid-template-columns: repeat(2, 1fr);
  }
  .program__description,
  .program__filter > div {
    padding: 30px;
  }
  .program__text {
    margin: 30px 0;
  }
  .program__filter {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .program__container {
    flex-direction: column;
  }
  .program__filter {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1em;
    }
    .subtitle.active + ul {
      max-height: 200px;
    }
  }
}
@media (max-width: 768px) {
  .program__filter li button {
    padding: 15px 25px;
  }
  .program__description,
  .program__filter > div {
    padding: 20px;
  }
  .program__text {
    margin: 20px 0;
  }
}
@media (max-width: 500px) {
  .program__filter li button {
    font-size: 14px;
  }
  .program__features {
    grid-template-columns: 1fr;

    li {
      flex-direction: row;
      align-items: center;
    }
    li img {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }
}

.visually-impared .program__features {
  display: block;
}
