@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.area {
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: $gray-3;
  transition: ease 0.25s;

  .area__name,
  .bage,
  .area__count {
    margin-bottom: 20px;
  }
  &:hover {
    top: -5%;
  }
  .button {
    width: 60%;
  }
}
.area__name {
  margin-top: 0;
  @include h4;
}
.area__count {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 15px;
  margin-top: auto;

  li span {
    display: block;
    color: $purple;
  }
  li span:first-of-type {
    @include h3;
  }
  li span:last-of-type {
    @include text;
  }
}
