@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.slider {
  position: relative;
  // height: 100%;

  .slick-track {
    position: absolute;
  }
  .slick-list {
    overflow: visible;
  }
  .slick-slide {
    transition: ease 0.5s;
    opacity: 0;
  }
  .slick-active {
    opacity: 1;
  }
}
.slider__buttons {
  position: absolute;
  bottom: 0;
  right: 105%;
  display: flex;

  button {
    padding: 0;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
  }
  button:first-of-type {
    margin-right: 20px;
    background-image: url('../../assets/img/icons/arrow-left.svg');
  }
  button:last-of-type {
    background-image: url('../../assets/img/icons/arrow-right.svg');
  }
}
.slide {
  padding: 40px;
  border-radius: 24px;
  background-color: $gray-3;
  height: 100%;
  box-sizing: border-box;

  blockquote {
    margin: 0;
    @include text;
    white-space: normal;
  }
}
.slide__top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  img {
    margin-right: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  p {
    display: flex;
    flex-direction: column;
  }
}
.slide__name {
  @include h4;

  & + span {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .slide {
    padding: 20px 30px;
  }
  .slider__buttons button {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1024px) {
  .slider {
    margin-bottom: 40px;
  }
  .slider__buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .slide {
    padding: 20px;
  }
}
