@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.feedback {
  background-image: url('../../assets/img/feedback-3.svg');
  background-repeat: no-repeat;
}
.feedback:first-of-type {
  background-position: 80% 100%;
}
.feedback:last-of-type {
  background-position: 90% 0%;
}
.feedback__parallax {
  overflow: visible !important;
}
.feedback__bg-1 {
  top: 10% !important;
  left: 10% !important;
  width: auto !important;
}
.feedback__bg-2 {
  top: 80% !important;
  left: 25% !important;
  width: auto !important;
  z-index: 2 !important;
}
.feedback__bg-3 {
  top: 10% !important;
  left: 10% !important;
  width: auto !important;
  z-index: -1 !important;
}
.feedback__bg-4 {
  top: 80% !important;
  left: 80% !important;
  width: auto !important;
  z-index: 2 !important;
}
.feedback__container {
  display: flex;
  padding: 80px 60px;
  margin: 0 auto;
  max-width: 1300px;
  border-radius: 24px;
  background-color: $purple;
  background-image: url('../../assets/img/feedback-phone.png');
  background-repeat: no-repeat;
  background-position: 20% 200px;
}
.feedback__left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 65%;

  * {
    color: #fff;
  }
  p {
    @include big-text;
  }
}
.feedback__phone {
  font-weight: bold;
}
.feedback__form {
  label,
  label span {
    color: #fff;
  }
}
.feedback .form__agreement span {
  color: #fff;
}

@media (max-width: 1024px) {
  .feedback__bg-4 {
    width: 105px !important;
    z-index: -1 !important;
  }
  .feedback__bg-3 {
    width: 50% !important;
  }
  .feedback__container {
    padding: 60px 40px;
  }
}
@media (max-width: 900px) {
  .feedback__bg-1 {
    width: 125px !important;
  }
  .feedback__container {
    display: block;
    padding: 60px 40px;
  }
  .feedback__bg-2 {
    display: none !important;
  }
  .feedback__left {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .feedback__container {
    padding: 40px 20px;
  }
  .feedback__bg-4 {
    top: 5% !important;
  }
}
