@import '../../assets/scss/mixins.scss';

.area-block__profile {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .area__count {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
  }
  .button {
    white-space: nowrap;
    width: fit-content !important;
  }
}
.area-block__subtitle {
  @include h4;
  margin: 0;
}
.area-block__text {
  margin: 20px 0;
}
.area-block__list {
  margin: 40px 0 40px 20px;
  @include text;
  list-style: disc;

  li:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.visually-impared {
  .area-block__list {
    li {
      font-size: 1.2rem !important;
    }
  }
}
