@import '../../assets/scss/variables.scss';

.institutes-and-areas {
  position: relative;
  background-color: $blue;
  z-index: 100;
}
.institutes-and-areas__title {
  text-align: center;

  span {
    display: block;
    color: $purple;
  }
}
.institutes-and-areas__text {
  // max-width: 80%;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 64px;
}

@media (max-width: 1200px) {
  .institutes-and-areas__text {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .institutes-and-areas__text {
    margin-bottom: 30px;
  }
}
